#subtitlecadastro{
	font-family: varela round;
	font-weight: bold;
	color:#0275D8;
	font-size: 80px;
}

legend{
	font-family:varela round;
	font-weight: bold;
	text-align: center;

}

form label{
	font-family: varela round;
}

.text{
	font-family:varela round;
	}


 #cadastrar{
	margin-left: 44%;
 }

 .input{
  width:300px
}

@media (min-width:501px) and (max-width: 1000px){

	#subtitlecadastro{
	font-size: 65px;
}

	#cadastrar{
	margin-left: 35%;
 }

}


@media (max-width: 500px){

	#subtitlecadastro{
	font-size: 50px;
}

	#cadastrar{
	margin-left: 23.5%;
 }

}


