#welcome{
	font-family:varela round;
	font-size: 46px;
	text-align: center;
	margin-top: 18%;
}

.align{
	text-align: center;
}

.title{
	font-family:varela round;
	font-size: 57px;
	font-style: bold;
	color: #0275D8;
	font-weight: bold;
	text-align: center;
	margin-top:2%;
}

#BestGames{
	font-family:varela round;
	font-size: 80px;
	color:#D2A803;
	font-weight: bold;
	text-align: center;
	margin-top:2%;
}

.BestGames2{
	font-family:varela round;
	font-size: 45px;
	font-weight: bold;
	color:#D2A803;
	text-align: center;
}

#Genero{
	font-family:varela round;
	font-size: 80px;
	color:#DB2222;
	font-weight: bold;
	text-align: center;
	margin-top:2%;
}

.Genero2{
	font-family:varela round;
	font-size: 45px;
	font-weight: bold;
	color:#DB2222;
	text-align: center;
}

.text{
	font-family:varela round;
	font-size: 22px;
	}

.footer{
	margin: auto;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #D3D3D3;
}

@media (min-width:501px) and (max-width: 1000px){

	.title{
		font-size: 40px;
	}

	#BestGames{
		font-size: 50px;
	}

	.BestGames2{
		font-size: 30px;
	}

	#Genero{
		font-size: 50px;
}

	.Genero2{
		font-size: 35px;
}

	.text{
	font-size: 17.5px;
	}

}

@media (max-width: 500px){

	.title{
		font-size: 37.5px;
		
	}

	#BestGames{
		font-size: 50px;
		
	}

	.BestGames2{
		font-size: 30px;
		
	}

	#Genero{
		font-size: 50px;
		
}

	.Genero2{
		font-size: 30px;
		
}

	.text{
	font-size: 20px;
	}

}